.col-md-3
  =render 'layouts/navigation'
.col-md-9
  %br
  %br
  %br
  .ui.secondary.vertical.pointing.menu
    %a.item
      Home
    %a.item
      Current greens
    %a.item.active
      Message
  = @green.count
  = @admin.count
