=render 'layouts/header'
%center
	%br
	%br
	%h1 *iHub_ Greens
	%h2.ui.center.aligned.icon.header
		%i.circular.users.icon

	%h4 Software
	%p Elite software developers, the best designers, startup entrepreneurs and project managers bring their expertise to your project
	%h4 Development
	%p Elite developers, the best designers, startup entrepreneurs and project managers bring their expertise to your project
	%h4 Consulting
	%p Get answers to problems you never thought anyone would help you with