=render 'layouts/header'

%center
	%br
	%br
		%h1 About
		%p iHub has a community of developers and genius minds co-existing in the space and woring on various start ups aimed at solving modern day issues 
