.container
  .col-md-3
    =render 'layouts/navigation'
  .col-md-9
    %center
      %br
      %br
        %h1 About
        %p iHub has a community of developers and genius minds co-existing in the space and woring on various start ups aimed at solving modern day issues
