=render 'layouts/header'
:css
	.top{
		margin-top: 5em;
	}


.top
	.ui.container	
		.ui.cards
			- @greens.each do |green|
				.ui.card
					.content
						.header
							= green.email
						.meta
							= time_ago_in_words(green.created_at)
						.description
							.image
								= image_tag green.avatar(:medium)

							.extra
								Rating:
								.ui.star.rating{"data-rating" => "2"}

							%hr/
							
							%p this is the user profile
						-#.extra


					
					= link_to profile_show_path do
						.ui.button.attached.button
							%i.add.icon
							View Profile
		-#= @green.count

