.container
	.col-md-3
		=render 'layouts/navigation'
	.col-md-9
		.row
			- @greens.each do |green|
				.col-md-4
					.card.hoverable
						.card-image
							.view.overlay.hm-white-slight
								= image_tag green.avatar(:medium), class: 'img-responsive'
								%a.mask.waves-effect
						.card-content.text-center
							%h5= green.names
							/ rating bootstrap plugin to be added here
							%p This is the user profile
						.text-center
							= link_to 'View Profile',profile_path(id: green.id), class: 'theme-green white-text waves-effect waves-light'
