.ui.large.top.fixed.hidden.menu
  .ui.container

    = link_to '*iHub_ greens', root_path, class: 'active item'

    -if !green_signed_in?
      = link_to 'Greens', greens_path, class: 'item'
      = link_to 'About', about_path, class: 'item'
    -else
      = link_to 'project', new_project_path, class: 'item'

    .right.menu
    -if green_signed_in?
      .item 
        =link_to "Account" , edit_green_registration_path 
      .item
        =link_to "Sign Out" , destroy_green_session_path, method: :delete ,class: "ui green button"

    -else
      .item
        =link_to "Log in" , new_green_session_path , class: "ui green button"
      .item
        =link_to  "Sign Up", new_green_registration_path , class: "ui primary button"
